* {
    box-sizing: border-box;
}

.search-results {
    max-width: 1000px;
    margin: 20px auto;
}

h1{
    margin-left: 40%;
}

.displayParks {
    border: solid 1px;
    margin: 10px;
}

label, h2 {
    margin-left: 30%;
}


h2 {
    margin-left: 25%;
}
