* {
    box-sizing: border-box;
}

.search-results {
    max-width: 1000px;
    margin: 20px auto;
}

.park {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 5px;
}

address {
    margin: 10px 0;
}